@media (max-width: 27em) {
  .component {
    background-color: hsl(216, 50%, 16%);
    width: 35rem;
    margin: 1rem auto;
    padding: 3rem;
    border-radius: 2rem;
  }

  .img-section img {
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
  }
}
